body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 40px;
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}


p{
    text-align: center;
    font-weight: bold;
}

a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    margin: 0 4px;
    font-size: 14px;
    display: inline-block;

}


.write , .logout {
    margin-bottom: 30px;
}


table{
    width: 90%;
    max-width: 900px;
    margin:30px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;

}

th , td{
    padding : 14px 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #4d4c4c;

}

th {
    background-color: #e2e7ec;
    color: #3b3b3b;
}

td a{
    text-decoration: none;
    color: #1b1b1b;
}

td a:hover {
    text-decoration: underline;
}